h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: cadetblue;
}

h3,
h4,
em,
p {
  font-family: 'Courier New', Courier, monospace;
}

.App {
  display: block;
  margin: 50 auto;
  background-color: #f8feff;
  padding: 100px;
}

.App-header {
  margin: 20px;
}

.App-img {
  display: block;
  margin: 0 auto;
  height: 200px;
}

a {
  text-decoration: none;
  color: cadetblue;
}

.footer {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: cadetblue;
}